<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    const handleClick = async () =>{
        const sendData = {"dialog_id":{{ dialog_id }}, "text": document.getElementById('text_area_for_send').value};
        document.getElementById("text_area_for_send").innerHTML = "A";
        console.log(sendData);
        let data = {};
        await fetch("http://127.0.0.1:8020/test",{
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                data: JSON.stringify(sendData)})
            .then(res => res.json())
            .then(res => data = res)
        console.log(data)
        document.getElementById('text_area_for_send').innerHTML = ""
        document.getElementById('text_area_for_send').innerText = ""
        document.getElementById("history").innerText += `${data.foo}`
    }
</script>
<body>
    <div>
        <textarea  name="history">How can i help you?</textarea>
    </div>
    <textarea name="text_area_for_send" id="text_area_for_send"></textarea>
    <input type="submit" onclick="handleClick()">
</body>
</html>