<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dialog-Test</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col p-3">
                <form action="/" method="post">
                    {% csrf_token %}
                    <input name="id" hidden value={{ id }}>
                    <div class="" style="height: 100px;"></div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="font-size: 20pt">What is bothering you?</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success my-3" style="font-size: 14pt">View my diagnosis</button>
                </form>
                <div {{ hidden2 }} {{ hidden }} style="font-size: 18pt">
                    Please send us your rating in the box above. Write "Good" if you think the diagnosis is correct or "Bad" if incorrect.
                </div>
                <div class="prediction my-3" {{ hidden }} {{ hidden2 }}>
                    <p class="pred1" style="font-size: 30pt">{{ neuro_text }}</p>
                    <br>
                    {% if pred_one %}
                        <p class="pred_one" style="font-size: 30pt; color: darkgreen">{{ pred_one}}</p>
                        <br>
                        (Unambiguously determining disease based on one symptom, according to our database)
                    {% else %}
                        <p class="pred1" style="font-size: 30pt; color: darkgreen">{{ pred.0.0 }}% - {{ pred.0.1 }}</p>
                        <br>
                        <p class="pred2" style="font-size: 20pt">{{ pred.1.0 }}% - {{ pred.1.1 }}</p>
                        <p class="pred3" style="font-size: 20pt">{{ pred.2.0 }}% - {{ pred.2.1 }}</p>
                    {% endif %}
                </div>
                <div class="advice" style="font-size: 20pt">
                    {% if advice %}
                        Do you have any of these symptoms?<br>
                        Write "End" or "Finish" when you're ready to see the diagnosis<br><br>
                        <p class="pred1" style="font-size: 18pt; color: darkgreen">{{ advice }}</p>
                    {% endif %}
                    {% if fail_pred %}
                        {{ fail_pred }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>